/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Container to hold the graphs in a grid layout */
.graph-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Container for Line and Pie charts */
.charts-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  background-color: #f9f9f9; /* Light background for each graph */
  border-radius: 10px;
  
}

.line-chart-container {
  flex: 0 0 65%; /* 65% width */
  background-color: #f9f9f9; /* Light background for each graph */
 
  border-radius: 10px;
}
.pie-chart-container {
  flex: 0 0 35%; /* 35% width */
  background-color: #f9f9f9; /* Light background for each graph */
  padding-bottom: 20px;
  border-radius: 10px;
}

.bar-chart-container {
  height: 400px; /* Adjust as needed */
  background-color: #f9f9f9; /* Light background for each graph */
  padding: 15px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.scroll-container {
  overflow-x: auto;
  width: 100%;
}

.chart-wrapper {
  min-width: calc(var(--bar-width) * var(--bar-count));
}

.highest-rated-char {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.character-name {
  color: #2c5282;
  font-weight: bold;
}

.charMatchupTitle {
  
  top: 0;
  z-index: 10;
  background: #fff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
}



/* Title section */
.match-title {
  position: sticky;
  top: 0;
  left: 0; /* Makes it follow during horizontal scrolling */
  z-index: 2; /* Ensure it stays above the table content */
  background-color: #f9f9f9; /* Match the table header for consistency */
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  
}

.table-component {
  background-color: #f9f9f9;
  border-radius: 10px;
  
}

.match-table {
  display: flex;
  flex-direction: column;
  max-height: 400px; /* Adjust based on your layout */
  margin-top: 20px;
  background-color: #f9f9f9; /* Light background for each graph */
  border-radius: 10px;
  overflow: auto; /* Ensure table can scroll */
  position: relative;
}

.match-table thead th {
  position: sticky;
  top: 85px; /* Adjust based on title height */
  background-color: #f1f1f1; /* Ensure it's distinct */
  z-index: 1; /* Ensure it stays above table rows */
  
}

.match-table table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  font-size: 0.9em;  
  
}

.match-table th,
.match-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Header row styling */
.match-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Conditional row styles */
.win-row {
  background-color: #d0f0ff; /* Light blue for wins */
}

.loss-row {
  background-color: #ffd6d6; /* Light red for losses */
}

/* Optional: Hover effect for better visibility */
.match-table tr:hover {
  background-color: #7dd3c5;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  left: 0; /* Stays in view during horizontal scrolling */
  z-index: 2; /* Ensure it's above the table rows */
  background-color: #f9f9f9; /* Background color for the pagination */
  padding: 10px 0;
  text-align: center;
  padding-bottom: 40px;
}

.pagination {
  display: inline-block; /* Ensures buttons stay in line */
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background-color: #7dd3c5;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-input-wrapper input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

/* Container for input and icons */
.input-icons {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icons input {
  width: 100%;
  padding: 8px 32px; /* Add padding to avoid overlap with icons */
  box-sizing: border-box;
}

/* Search Icon */
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
}



/* Clear Button */
.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
}

/* Suggestions list */
.suggestions-list {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  background: white; /* Ensure list has a background */
  z-index: 10;
  position: absolute; /* Position suggestions under input */
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footer {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.database-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.database-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer-text {
  font-size: 12px;
  color: #888;
}


/* Small screens: stack charts in a single column */
@media (max-width: 600px) {
  .chart-container {
    flex-direction: column;
  }
  .line-chart, .pie-chart {
    min-width: 100%;
  }
  .pagination {
    font-size: 0.8em;
  }
  .match-table {
    display: block;
    overflow-x: scroll;
    font-size: 0.8em;
  }
  .match-table thead th{
    top: 70px; /* Adjust based on title height */
  }
  .match-table th,
  .match-table td {
    padding: 8px;
    word-wrap: break-word;
  }

}

.main-content {
  padding-bottom: 60px; /* Adjust to the height of your footer */
}
